@model HomeShare.Models.MembreProfilModel

<div class="avatar-custo" style="width: 75px;height:75px;background-color:black;color:white;">
    Place pour avatar<br />
</div>
@Model.UtilisateurCourant.Prenom @Model.UtilisateurCourant.Nom
<div><a href="#">Modifier vos informations</a></div>